@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: all 5000s ease-in-out 0s;
  -webkit-background-clip: text;

  outline: none !important;
}

.btn {
  @apply py-2 px-3 uppercase transition-all duration-300 disabled:opacity-50;
}

.btn-default {
  @apply border border-brand bg-white hover:bg-gray-50 hover:text-brand;
}

.btn-brand {
  @apply bg-brand text-white hover:bg-brand-darker;
}

th {
  @apply hidden sm:table-cell;
}

td {
  @apply flex justify-between sm:table-cell;
}
